<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ email.subject }}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }

        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }

        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }

        .bottom { background-color: #efefee;
        }

        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }

        .logo {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #264459;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="body">
    <div class="container">
        <div class="header" text-center>
            <a href="{ url('/')}">
                <img src="#" class="logo" alt="">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Thanks for sign our News Letter!</h1>
            <p class="block">
                We will send a news for you every second friday of each month.
            </p>
            <p class="block text-center">
                <a href="{ url('/')}">Continue reading our articles</a>
            </p>
        </div>
        <div class="footer-area">
            <p class="block">
                Cheers,<br><br>
                Many Thanks<br>
                <em>BlogProject</em>
            </p>
        </div>
    </div>
</div>

</body>
</html>