<form method="post" action="{{ path('news_letter_email_delete', {'id': news_letter_email.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news_letter_email.id) }}">
    <button class="btn">Delete</button>
</form>
