{% extends 'base.html.twig' %}

{% block title %}Edit NewsLetterEmail{% endblock %}

{% block body %}
    <h1>Edit NewsLetterEmail</h1>

    {{ include('news_letter_email/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('news_letter_email_index') }}">back to list</a>

    {{ include('news_letter_email/_delete_form.html.twig') }}
{% endblock %}
