{% extends 'base.html.twig' %}

{% block title %}NewsLetterEmail index{% endblock %}

{% block body %}
    <h1>NewsLetterEmail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_letter_email in news_letter_emails %}
            <tr>
                <td>{{ news_letter_email.id }}</td>
                <td>{{ news_letter_email.email }}</td>
                <td>
                    <a href="{{ path('news_letter_email_show', {'id': news_letter_email.id}) }}">show</a>
                    <a href="{{ path('news_letter_email_edit', {'id': news_letter_email.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('news_letter_email_new') }}">Create new</a>#}
{% endblock %}
