{% extends 'base.html.twig' %}

{% block title %}New NewsLetterEmail{% endblock %}

{% block body %}
    <h1>Create new NewsLetterEmail</h1>

    {{ include('news_letter_email/_form.html.twig') }}

    <a href="{{ path('news_letter_email_index') }}">back to list</a>
{% endblock %}
