{% extends 'base.html.twig' %}

{% block title %}NewsLetterEmail{% endblock %}

{% block body %}
    <h1>NewsLetterEmail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news_letter_email.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ news_letter_email.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('news_letter_email_index') }}">back to list</a>

    <a href="{{ path('news_letter_email_edit', {'id': news_letter_email.id}) }}">edit</a>

    {{ include('news_letter_email/_delete_form.html.twig') }}
{% endblock %}
