{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <!-- ##### Breadcumb Area Start ##### -->

    <div class="breadcumb-area bg-img" style="background-image: url('assets/img/bg-img/carousel02.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content text-center">
                        <h2>About</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-8">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="/" class="post-tag">Interior Designer</a>
                            <h4><a href="/" class="post-headline jus">Welcome to this Interior Design blog</a></h4>
                            <p class="mb-3 text-justify">Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt. Morbi sodales, dolor id ultricies dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu libero consequat tempus.slacus sit amet augue sodales, vel cursus enim tristique  dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu libero consequat tempus.slacus sit amet augue sodales, vel cursus enim tristique..</p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                {#                <div class="col-12 col-lg-4">#}
                {#                    <div class="single-blog-area clearfix mb-100">#}
                {#                        <!-- Blog Content -->#}
                {#                        <div class="single-blog-content">#}
                {#                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu libero consequat tempus. Quisque molestie convallis tempus. Ut semper purus metus, a euismod sapien sodales ac. Duis viverra eleifend fermentum. Donec sagittis lacus sit amet augue sodales, vel cursus enim tristique. Maecenas vitae massa ut est consectetur sagittis quis vitae tortor.</p>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="{{ asset('assets/img/blog-img/01.jpg') }}" alt="">
                        {#                        <!-- Catagory Title -->#}
                        {#                        <div class="catagory-title">#}
                        {#                            <a href="#">Interior Design posts</a>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper End ##### -->

    {#TODO: To insert last posts#}

    {#    <!-- ##### Blog Wrapper Start ##### -->#}
    {#    {% for post in posts [:3]|reverse %}#}
    {#    <div class="section-padding-50-0 clearfix">#}
    {#        <div class="container">#}
    {#            <h3 class="text-center">Last Posts</h3><p/>#}
    {#            <div class="row justify-content-center">#}
    {#                <!-- Single Blog Area  -->#}
    {#                <div class="col-lg-4" >#}
    {#                    <div class="single-blog-area blog-style-2 mb-30">#}
    {#                        <div class="single-blog-thumbnail">#}
    {#                            <img src="{{ uploaded_asset(post.imagePath) }}" alt="">#}
    {#                        </div>#}
    {#                        <!-- Blog Content -->#}

    {#                        <div class="single-blog-content mt-30">#}
    {#                            <div class="line"></div>#}
    {#                            <a href="/post/{{post.id}}" class="post-tag">{{ post.category }}</a>#}
    {#                            <h4><a href="/post/{{post.id}}" class="post-headline">{{ post.title }}</a></h4>#}
    {#                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>#}
    {#                        </div>#}

    {#                    </div>#}
    {#                </div>#}
    {#                <!-- Single Blog Area  -->#}
    {#                <div class="col-lg-4">#}
    {#                    <div class="single-blog-area blog-style-2 mb-30">#}
    {#                        <div class="single-blog-thumbnail">#}
    {#                            <img src="{{ asset('assets/img/blog-img/05.jpg') }}" alt="">#}
    {#                        </div>#}
    {#                        <!-- Blog Content -->#}
    {#                        <div class="single-blog-content mt-30">#}
    {#                            <div class="line"></div>#}
    {#                            <a href="#" class="post-tag">Author</a>#}
    {#                            <h4><a href="#" class="post-headline">Author Name</a></h4>#}
    {#                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    {% endfor %}#}
    <!-- ##### Blog Wrapper End ##### -->
{% endblock %}
