{% extends 'base.html.twig' %}

{% block title %}Contato{% endblock %}

{% block body %}


    <!-- ##### Google Map ##### -->
    {#    <div class="map-area">#}
    {#        <div id="googleMap" class="googleMap"></div>#}
    {#    </div>#}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url('assets/img/bg-img/carousel02.jpg');>
        <div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="breadcumb-content text-center">
                <h2>Contato</h2>
            </div>
        </div>
    </div>

    </div>
    <!-- ##### Breadcumb Area End ##### -->

                {{ include('inc/contact-form.html.twig') }}


{% endblock %}
