{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {{ include('inc/carousel.html.twig') }}

    <!--  Blog Wrapper Start  -->

    <div class="blog-wrapper section-padding-100 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Blog Area -->
                <div class="col-6 col-lg-8">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <h4><a href="/about" class="post-headline">Welcome to this Interior Design blog</a></h4>
                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt. Morbi sodales, dolor id ultricies dictum
                                <a href="/about">...</a></p>
                            <a href="/about" class="btn original-btn">Read More</a>
                        </div>
                    </div>
                </div>


{#                <!-- Single Blog Area -->#}
{#                {% for post in posts [1:1]|reverse %}#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <div class="single-catagory-area clearfix mb-100">#}
{#                            <img src="{{ uploaded_asset(post.imagePath) }}" alt="">#}
{#                            <!-- Catagory Title -->#}
{#                            <div class="catagory-title">#}
{#                                <a href="/post/{{post.id}}">Last Post</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}

{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-12 col-lg-9">#}

{#                    <!-- Single Blog Area  -->#}
{#                    {% for post in posts [3:]|reverse %}#}
{#                        <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">#}
{#                            <div class="row align-items-center">#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <div class="single-blog-thumbnail">#}
{#                                        <a href="/post/{{post.id}}">#}
{#                                            <img src="{{ uploaded_asset(post.imagePath) }}" alt="Image">#}
{#                                        </a>#}
{#                                        <div class="post-date">#}
{#                                            <a href="/post/{{post.id}}">{{post.createdAt|date('d')}}<span>{{post.createdAt|date('F')[:3]}}</span></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <!-- Blog Content -->#}
{#                                    <div class="single-blog-content">#}
{#                                        <div class="line"></div>#}
{#                                        #}{# TODO: Inserir rota para categorias#}
{#                                        <a href="#" class="post-tag">{{ post.category }}</a>#}

{#                                        <h4><a href="/post/{{post.id}}" class="post-headline">{{ post.title }}</a></h4>#}
{#                                        <p>{{ post.content[:260] |raw  }}...</p>#}
{#                                        <div class="post-meta">#}
{#                                            <p>By <a href="/about">{{ post.author }}</a></p>#}
{#                                            #}{#                                        <p>15 comments</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}

{#                    {% for post in posts [4:1]|reverse %}#}
{#                        <!-- Single Blog Area  -->#}
{#                        <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">#}
{#                            <div class="row">#}
{#                                <div class="col-12">#}
{#                                    <div class="single-blog-thumbnail">#}
{#                                        <img src="{{ uploaded_asset(post.imagePath) }}" alt="">#}
{#                                        <div class="post-date">#}
{#                                            <a href="/post/{{post.id}}">{{post.createdAt|date('d')}}<span>{{post.createdAt|date('F')[:3]}}</span></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-12">#}
{#                                    <!-- Blog Content -->#}
{#                                    <div class="single-blog-content mt-50">#}
{#                                        <div class="line"></div>#}
{#                                        <a href="#" class="post-tag">{{ post.category }}</a>#}
{#                                        <h4><a href="#" class="post-headline">{{ post.title }}</a></h4>#}
{#                                        <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>#}
{#                                        <div class="post-meta">#}
{#                                            <p>By <a href="/about">{{ post.author }}</a></p>#}
{#                                            #}{#                                        <p>20 comments</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}

{#                    {% for post in posts [2:2]|reverse %}#}
{#                        <!-- Single Blog Area  -->#}
{#                        <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1000ms">#}
{#                            <div class="row align-items-center">#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <div class="single-blog-thumbnail">#}
{#                                        <img src="{{ uploaded_asset(post.imagePath) }}" alt="">#}
{#                                        <div class="post-date">#}
{#                                            <a href="/post/{{post.id}}">{{post.createdAt|date('d')}}<span>{{post.createdAt|date('F')[:3]}}</span></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-12 col-md-6">#}
{#                                    <!-- Blog Content -->#}
{#                                    <div class="single-blog-content">#}
{#                                        <div class="line"></div>#}
{#                                        <a href="#" class="post-tag">{{ post.category }}</a>#}
{#                                        <h4><a href="#" class="post-headline">{{ post.title }}</a></h4>#}
{#                                        <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>#}
{#                                        <div class="post-meta">#}
{#                                            <p>By <a href="/about">{{ post.author }}</a></p>#}
{#                                            #}{#                                        <p>10 comments</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}

                    <!-- Load More -->
                    <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                        <a href="#" class="btn original-btn">Read More</a>
                    </div>
                </div>

                {{ include('inc/sidebar.html.twig') }}

            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper End ##### -->






{% endblock %}