<footer class="main-footer">
    &copy;<a href="#" target="_blank">BlogProject</a> <script>document.write(new Date().getFullYear());</script> All rights reserved | Designed by <a href="#" target="_blank">RD</a>

    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1
    </div>
</footer>