<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Admin Blogproject!{% endblock %}</title>
        {% block stylesheets %}

                <!-- Font Awesome -->
                <link rel="stylesheet" href="{{ asset('assets-admin/plugins/fontawesome-free/css/all.min.css') }}">
                <!-- Ionicons -->
                <link rel="stylesheet" href="{{ asset('assets-admin/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}">
                <!-- Tempusdominus Bbootstrap 4 -->
                <link rel="stylesheet" href="{{ asset('assets-admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
                <!-- iCheck -->
                <link rel="stylesheet" href="{{ asset('assets-admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
                <!-- JQVMap -->
                <link rel="stylesheet" href="{{ asset('assets-admin/plugins/jqvmap/jqvmap.min.css') }}">
                <!-- Theme style -->
                <link rel="stylesheet" href="{{ asset('assets-admin/dist/css/adminlte.min.css') }}">
                <!-- overlayScrollbars -->
                <link rel="stylesheet" href="{{ asset('assets-admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
                <!-- Daterange picker -->
                <link rel="stylesheet" href="{{ asset('assets-admin/plugins/daterangepicker/daterangepicker.css') }}">
                <!-- summernote -->
                <link rel="stylesheet" href="{{ asset('assets-admin/plugins/summernote/summernote-bs4.css') }}">
                <!-- Google Font: Source Sans Pro -->
                <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet') }}">

        {% endblock %}
    </head>
        <body>

        {{ include('inc/admin-inc/admin-nav.html.twig') }}
        {{ include('inc/admin-inc/admin-sidebar.html.twig') }}

        {% block body %}

        {% endblock %}

        {{ include('inc/admin-inc/admin-footer.html.twig') }}



        {% block javascripts %}

            <!-- jQuery -->
            <script src="{{ asset('assets-admin/plugins/jquery/jquery.min.js') }}"></script>
            <!-- jQuery UI 1.11.4 -->
            <script src="{{ asset('assets-admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
            <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
            <script>
                $.widget.bridge('uibutton', $.ui.button)
            </script>
            <!-- Bootstrap 4 -->
            <script src="{{ asset('assets-admin/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <!-- ChartJS -->
            <script src="{{ asset('assets-admin/plugins/chart.js/Chart.min.js') }}"></script>
            <!-- Sparkline -->
            <script src="{{ asset('assets-admin/plugins/sparklines/sparkline.js') }}"></script>
            <!-- JQVMap -->
            <script src="{{ asset('assets-admin/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
            <script src="{{ asset('assets-admin/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
            <!-- jQuery Knob Chart -->
            <script src="{{ asset('assets-admin/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
            <!-- daterangepicker -->
            <script src="{{ asset('assets-admin/plugins/moment/moment.min.js') }}"></script>
            <script src="{{ asset('assets-admin/plugins/daterangepicker/daterangepicker.js') }}"></script>
            <!-- Tempusdominus Bootstrap 4 -->
            <script src="{{ asset('assets-admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>
            <!-- Summernote -->
            <script src="{{ asset('assets-admin/plugins/summernote/summernote-bs4.min.js') }}"></script>
            <!-- overlayScrollbars -->
            <script src="{{ asset('assets-admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('assets-admin/dist/js/adminlte.js') }}"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('assets-admin/dist/js/pages/dashboard.js') }}"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('assets-admin/dist/js/demo.js') }}"></script>


            <script>
                $('.dropdown-toggle').dropdown();
                $('.custom-file-input').on('change', function(event) {
                    var inputFile = event.currentTarget;
                    $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name);
                });
            </script>

        {% endblock %}
    </body>
</html>


