<!-- Search Area -->
<div class="sidebar-widget-area">
    <form action="#" class="search-form">
        <input type="search" name="search" id="searchForm" placeholder="Search">
        <input type="submit" value="submit">
    </form>
</div>