<!-- Widget Area -->
<div class="sidebar-widget-area">
    <h5 class="title subscribe-title">Subscribe to my newsletter</h5>
    <div class="widget-content">
        <form action="{{ path('news_letter') }}" method="post"" class="newsletterForm">
        <input type="email" name="email" id="subscribesForm" placeholder="Your e-mail here">
        <button type="submit" class="btn original-btn">Subscribe</button>
        </form>
    </div>
</div>