{{ form_start(form) }}
    {{ form_row(contactForm.name) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.subject) }}
    {{ form_row(contactForm.message) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
